h1, h2 {font-style: italic ; box-align: center;
background-color: darkgrey;
color: firebrick;
}



footer {background-color: blue;
color: cornsilk;
box-sizing: border-box;
border: solid black 5px;
padding: 5px;
text-size-adjust: center;
}

body {background-image: url("https://wallpaperstock.net/batman-en-3d-wallpapers_34327_1920x1200.jpg");
    background-size: cover;
    text-align: center;

}

.item-detail {font-weight: bold;
}


