

h1, h2 {font-style: italic ; box-align: center;
    background-color: darkgrey;
    color: firebrick;
    }
    
    
    
    footer { background-color: firebrick;
    color: cornsilk;
    box-sizing: border-box;
    border: solid black 5px;
    padding: 5px;
    text-align: center;
    height: 110px;
    }
    

    .redes {
        height: 20px;
        width: 1px;
    }

    body {background-image: url("https://wallpaperstock.net/batman-en-3d-wallpapers_34327_1920x1200.jpg");
        background-size: cover;
        text-align: center;
        margin: 5% 30%;
        text-align: center;
    }
    
    .item-detail {font-weight: bold;
    }
    
    
    
    